<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.example.strippedsoshi</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://strippedsoshi.page.link</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>snapchat</string>
		<string>twitter</string>
		<string>tiktok</string>
		<string>linkedin</string>
		<string>spotify</string>
		<string>discord</string>
		<string>facebook</string>
		<string>venmo</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>https://strippedsoshi.page.link</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>https://strippedsoshi.page.link</string>
	</array>
	<key>com.apple.developer.readersession.felica.systemcodes</key>
	<array>
		<string>https://strippedsoshi.page.link</string>
	</array>
</dict>
</plist>
